{% extends 'base.html.twig' %}

{% block title %}Formulaire d'ajout{% endblock %}
{% block body %}
<h4>Ajout de conférence</h4>
{# <form action="/conference/add" method="post">
<input type="text" name="titre" placeholder="titre" /> <br><br>
<textarea name="description"  cols="30" rows="5" placeholder="description"></textarea><br><br>
<input type="text" name="lieu" placeholder="lieu" /> <br><br>
<input type="submit" name="ajouter" /> <br><br>
</form> #}
{{ include('conferences/partials/formulaire.html.twig') }}
{% endblock %}