{% for conference in conferences %}
    <div> <p><a href="{{path("conference.details",{'id':conference.id})}}">{{ conference.titre}}</a></p></div>
{% endfor %}
<h5>Affichage par catégorie:</h5>
{% for categorie in categories %}
<div><a href="{{ path('conference.categorie',{'nom':categorie.nom})}}">{{ categorie.nom }}</a></div>
{% endfor %}
